package passwordlist

var ConsumerKey = ""
var ConsumerSecret = ""
var AccessToken = ""
var AccessTokenSecret = ""

var Incomingurl = ""
var Text = ""
var Username = ""
var Icon_emoji = ""
var Icon_url = ""
var Channel = "#"
